<a href="https://colab.research.google.com/github/yochana4/gitfiles/blob/main/Exp2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Write a program for Accessing/Importing and Exporting data.

In [ ]:
pwd

'/content'

In [ ]:
import pandas as pd
data=pd.read_excel("Sample.xlsx",index_col=0)
print(data)
print('First 5 rows')
print(data.head(5))
data.head(5).to_excel("test.xlsx",index=True)

      RollNo     Name  CGPA    Address
S.No
1       1201   Mahesh   9.8        hyd
2       1202    Arjun   8.9    chennai
3       1203   Ramana   9.3  bangalore
4       1204  Bharath   9.2    kolkata
5       1205     Ajay   7.8      kochi
6       1206   Murari   9.7    allepey
7       1207   Harsha   8.8     odisha
8       1208    Surya   8.5     mumbai
9       1209     Mahi   7.6        USA
10      1210    Rishi   9.2        Aus
First 5 rows
      RollNo     Name  CGPA    Address
S.No
1       1201   Mahesh   9.8        hyd
2       1202    Arjun   8.9    chennai
3       1203   Ramana   9.3  bangalore
4       1204  Bharath   9.2    kolkata
5       1205     Ajay   7.8      kochi